body{
     background-color: lightyellow;
}
#firstpara{
    background:yellow;
    
}

#secondpara{
     background-color:red;
     
    
}

#favorite{
    background-color:yellow;
    
    
    
}

#bunny{
    background-color:lightgrey;
    
    
    ]